freebsd:
  audit:
    control:
      dir: "/var/audit"
      dist: "off"
      flags: "lo,aa"
      minfree: "5"
      naflags: "lo,aa"
      policy: "cnt,argv"
      filesz: "2M"
      expire-after: "10M"
    users:
      root: "lo:no"
  kernel:
    modules:
      - pfsync
      - carp
      - if_lagg
  networking:
    gateway: True
    dns:
      nameservers:
      # This is needed for testing in Travis CI as we can't use Google's DNS
      {% if grains['virtual'] == 'kvm' %}
        - 192.168.121.1
      {% else %}
        - 8.8.8.8
        - 8.8.4.4
      {% endif %}
      search:
        - perceptyx.com
        - domain.com
    interfaces:
      em1:
      em2:
      em3: 192.168.254.253/24
      cloned_interfaces:
        lagg0:
          protocol: failover
          ports:
            - em1
            - em2
          aliases:
            - 10.200.252.2/22
            - vhid 60 advskew 100 pass 9WH0EJWKE9I83F2YFT1X 10.200.252.1/22
  newsyslog:
    newsyslog_include_conf: "/etc/newsyslog.conf.d"
    configs:
      my_app:
        log: '/var/log/my_app.log'
        owner: 'root:wheel'
        mode: '644'
        count: '7'
        size: '*'
        when: '@T00'
        flags: 'JBN'
        pid_file: ''
        sig_num: ''
      nginx:
        log: '/var/log/nginx/*.log'
        owner: ''
        mode: '644'
        count: '30'
        size: '100'
        when: '*'
        flags: 'JB'
        pid_file: '/var/run/nginx.pid'
        sig_num: '30'
  packages:
    installed:
      - nginx
    latest:
      - bash
    absent:
      - virtualbox-ose-additions-nox11
  #  custom:
  #    docbook:
  #      status: installed
  #      repository: saltstack
  #    gettext-tools:
  #      status: latest
  #      repository: saltstack
  periodic:
    file: "/etc/periodic.conf.local"
    options:
      daily_output: "/var/log/daily.log"
      weekly_output: "/var/log/weekly.log"
      monthly_output: "/var/log/monthly.log"
  repositories_dir: "/usr/local/etc/pkg/repos"
  repositories:
    saltstack:
      url: "http://repo.saltstack.com/freebsd/${ABI}/"
      enabled: false
      mirror_type: "http"
      priority: 10
  sysctl:
    settings:
      net.inet.ip.portrange.first: 20000
      kern.coredump: 0
      kern.ipc.somaxconn: 1024
  loader:
    settings:
      vfs.zfs.arc_max: 2048
