freebsd:
  audit:
    enabled: true
    control:
      dir: "/var/audit"
      dist: "off"
      flags: "lo,aa"
      minfree: "5"
      naflags: "lo,aa"
      policy: "cnt,argv"
      filesz: "2M"
      expire-after: "10M"
    users:
      root: "lo:no"
  periodic:
    enabled: true
    file: "/etc/periodic.conf.local"
    options:
      daily_output: "/var/log/daily.log"
      weekly_output: "/var/log/weekly.log"
      monthly_output: "/var/log/monthly.log"
  repositories_dir: "/usr/local/etc/pkg/repos"
  repositories:
    saltstack:
      url: "http://repo.saltstack.com/freebsd/${ABI}/"
      enabled: true
      mirror_type: "http"
      priority: 10
  sysctl:
    enabled: true
    settings:
      net.inet.ip.portrange.first: 20000
      kern.coredump: 0
      kern.ipc.somaxconn: 1024
  newsyslog:
    enabled: true
    newsyslog_include_conf: "/etc/newsyslog.conf.d"
    configs:
      my_app:
        log: '/var/log/my_app.log'
        owner: 'root:wheel'
        mode: '644'
        count: '7'
        size: '*'
        when: '@T00'
        flags: 'JBN'
        pid_file: ''
        sig_num: ''
      nginx:
        log: '/var/log/nginx/*.log'
        owner: ''
        mode: '644'
        count: '30'
        size: '100'
        when: '*'
        flags: 'JB'
        pid_file: '/var/run/nginx.pid'
        sig_num: '30'
