{## Start with  defaults from defaults.yaml ##}
{% import_yaml "freebsd/defaults.yml" as default_settings %}

{## Merge in freebsd:lookup pillar ##}
{% set freebsd = salt['pillar.get'](
    'freebsd',
    default=default_settings.freebsd,
    merge=True
  )
%}
